@import "../../App.less";

main#login {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-primary);

  > article {
    display: flex;
    justify-content: center;
    align-items: center;

    > section {
      display: flex;
      flex-direction: column;
    }
  }
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bees-logo {
  align-self: flex-start;
  bottom: 15px;
  left: 29px;
}
